<h1>Log in</h1>

<%= form_tag sessions_path do %>
  <div class="clearfix">
    <%= label_tag :email %>
    <div class="input">
      <%= text_field_tag :email, params[:email] %>
    </div>
  </div>
  <div class="clearfix">
    <%= label_tag :password %>
    <div class="input">
      <%= password_field_tag :password %>
    </div>
  </div>
  <div class="actions"><%= submit_tag "Log in" %></div>
<% end %>