<!DOCTYPE html>
<html>
<head>
  <title>Songly2</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  
  <div class="container">
    
    <div class="content">
      
      <div class="page-header"> 
        <div class="row">
          <div class="span8">
            <h1>Example of the site <small>for now..</small></h1>
          </div>
          
          <div class="span6">
            
            <% if current_user.blank? %>
            
              <%= form_tag sessions_path do %>
                <%= text_field_tag :email, params[:email], :class => "input-small", :placeholder => "Email" %>
                <%= text_field_tag :password, params[:password], :type => "password", :class => "input-small", :placeholder => "Password" %>
                <%= submit_tag "Log in", :class => "btn" %>

              <% end %>
            
              <div id="modal-from-dom-signup" class="modal hide fade">
                  <%= render "users/new" %>
              </div>

              <p>Or you can <a href="/users/new" data-controls-modal="modal-from-dom-signup" data-backdrop="true" data-keyboard="true">sign up</a>.</p>
              <p>Signing in allows you to add/delete songs. But songs are not user-specific yet.</p>
          
          <% else %>
          
            <p>You are logged in as <%= current_user.email %></p>
            <p><%= link_to "Log out", session_path(current_user), :method => "delete" %></p>
          
          <% end %>
          </div>
          
        </div>
         
        
        
        
      </div>
      
      
      <div class="row">
        <div class="span10">
          <% flash.each do |name, msg| %>
            <% if name = "notice" %>
              <div class="alert-message block-message success fade in" data-alert="alert">
                <a href="#" class="close">×</a>
                <p><%= msg %></p>
              </div>
            <% else %>
              <div class="alert-message block-message warning fade in" data-alert="alert">
                <a href="#" class="close">×</a>
                <p><%= msg %></p>
              </div>
            <% end %>
          <% end %>
          <%= yield %>
        </div>
        
      </div>
      
    </div>
              
              
    
    
    
  </div>

</body>
</html>
