<!DOCTYPE html>
<html>
<head>
  <title>Example</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  
  <div class="container">
    
    <div class="content">
      
      <div class="page-header"> 
        <div class="row">
          <div class="span11">
            <h1>Example of the site <small>for now..</small></h1>
          </div>
          
          <div class="span5">
            
            <% if current_user.blank? %>
            
              <%= form_tag sessions_path do %>
                <%= text_field_tag :email, params[:email], :class => "input-small", :placeholder => "Email" %>
                <%= text_field_tag :password, params[:password], :type => "password", :class => "input-small", :placeholder => "Password" %>
                <%= submit_tag "Log in", :class => "btn" %>

              <% end %>
            
              <div id="modal-from-dom-signup" class="modal hide fade">
                  <%= render "users/new" %>
              </div>

              <p>Or you can <a href="/sessions/new" data-controls-modal="modal-from-dom-signup" data-backdrop="true" data-keyboard="true">sign up</a>.</p>
              <p>Signing in allows you to add/delete songs.</p>
          
          <% else %>
          
            <p>You are logged in as <%= link_to current_user.username, user_path(current_user.id) %></p>
            <p><%= link_to "Log out", session_path(current_user), :method => "delete" %></p>
          
          <% end %>
          </div>
          
        </div>
         
        
        
        
      </div>
      
      
      <div class="row">
        <div class="span12">
          <% flash.each do |name, msg| %>
            <% if name = "notice" %>
              <div class="alert-message block-message success fade in" data-alert="alert">
                <a href="#" class="close">×</a>
                <p><%= msg %></p>
              </div>
            <% else %>
              <div class="alert-message block-message warning fade in" data-alert="alert">
                <a href="#" class="close">×</a>
                <p><%= msg %></p>
              </div>
            <% end %>
          <% end %>
          <%= yield %>
        </div>
        
        <div class="span4">
          
          <div id="modal-from-dom-grooveshark-instructions" class="modal hide fade">
              <div class="modal-header">
                <a href="#" class="close">×</a>
                <h3>grooveshark instructions</h3>
              </div>
              
              <div class="modal-body">
                <p>
                  Go to <a href="http://www.grooveshark.com">grooveshark</a> and select share a song.  In the widget, find the songIDs use that for input.
                </p>
                <p>
                  Hopefully I can figure out some fancy javascript bookmarklet similar to pinterest to get this to work.
                </p>
              </div>
              
              <div class="modal-footer">
              </div>
          </div>
          <h3>
            <a href="#" data-controls-modal="modal-from-dom-grooveshark-instructions" data-backdrop="true" data-keyboard="true">
              grooveshark instructions
            </a>
          </h3>
          
          <div id="modal-from-dom-bandcamp-instructions" class="modal hide fade">
              <div class="modal-header">
                <a href="#" class="close">×</a>
                <h3>bandcamp instructions</h3>
              </div>

              <div class="modal-body">
                <p>
                  Go to <a href="http://www.bandcamp.com">bandcamp</a> and select Share/Embed -> Other (this only works on bandcamp songs, not albums or playlists).  
                </p>
                <p>
                  In the copy/paste code, look for the 'track', and use the id after it.                  
                </p>  
                <p>
                  Hopefully I can figure out some fancy javascript bookmarklet similar to pinterest to get this to work.
                </p>
              </div>

              <div class="modal-footer">
              </div>
          </div>
          <h3>
            <a href="#" data-controls-modal="modal-from-dom-bandcamp-instructions" data-backdrop="true" data-keyboard="true">
              bandcamp instructions
            </a>
          </h3>
          
          <div id="modal-from-dom-soundcloud-instructions" class="modal hide fade">
              <div class="modal-header">
                <a href="#" class="close">×</a>
                <h3>soundcloud instructions</h3>
              </div>

              <div class="modal-body">
                <p>
                  This doesn't really work right now.  Getting the id for the song is not as obvious with this.
                </p>
                <p>
                  Hopefully I can figure out some fancy javascript bookmarklet similar to pinterest to get this to work.
                </p>
              </div>

              <div class="modal-footer">
              </div>
          </div>
          <h3>
            <a href="#" data-controls-modal="modal-from-dom-soundcloud-instructions" data-backdrop="true" data-keyboard="true">
              soundcloud instructions
            </a>
          </h3>
          
        </div>
        
      </div>
      
    </div>
              
              
    
    
    
  </div>

</body>
</html>
